@using WhereMyMoney.Models

@model WhereMyMoney.Models.Tbl_Trace

@{
    ViewData["Title"] = "Edit Trace";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Trace" asp-action="Update" method="post" class="form-horizontal" role="form">
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="TraceDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TraceDate" class="form-control" id="traceDate" readonly />
                <span asp-validation-for="TraceDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Amount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CurrencyId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CurrencyId" asp-items="@(new SelectList(ViewBag.CurrencyList, "Id", "CurrencyShortName"))" class="form-control">
                    <option value="0">--Select--</option>
                </select>
                <span asp-validation-for="CurrencyId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.CategoryList, "Id", "CategoryName"))" class="form-control">
                    <option value="0">--Select--</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TransactionType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TransactionType" class="form-control">
                    <option value="">--Select--</option>
                    <option value="@(Tbl_TransactionType.Income)">@(Tbl_TransactionType.Income)</option>
                    <option value="@(Tbl_TransactionType.Outcome)">@(Tbl_TransactionType.Outcome)</option>
                    <option value="@(Tbl_TransactionType.Transfer)">@(Tbl_TransactionType.Transfer)</option>
                </select>
                <span asp-validation-for="TransactionType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
                <input type="button" value="Cancel" class="btn btn-default" id="cancel" />
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var traceDate = '@ViewBag.ServerTraceDate';
            if (traceDate == '') {
                traceDate = moment().format('DD-MMM-YYYY')
            }
            $('#traceDate').val(traceDate);

            $('input#cancel').click(function () {
                window.location = '@Url.Action("Index","Trace")';
            });

            $('#traceDate').datepicker({
                format: "dd-M-yyyy",
                weekStart: 1,
                todayBtn: true,
                daysOfWeekHighlighted: "0,6",
                todayHighlight: true
            });
        });
    </script>
}
