@model IEnumerable<WhereMyMoney.Models.Tbl_Currency>

@{
    ViewData["Title"] = "Currency List";
}

<h2>Currency List</h2>

<table class="table">
    <tr>
        <th>Currency Name</th>
        <th>Currency Short Name</th>
        <th>Description</th>
        <th><a asp-controller="Currency" asp-action="Create">Create new Currency</a></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-controller="Currency" asp-action="Update" asp-route-id="@item.Id">Update</a> | <a asp-controller="Currency" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you to delete \'@item.CurrencyName\'?');">Delete</a>
            </td>
        </tr>
    }
</table>
